/*!
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.my_div {
  margin-top: 20px;
  font: 16px sans-serif;
  padding: 5px 35px 5px 35px;
}

/* Fixed Header */
.header-adv {
  top: 0px;
  position: fixed;
  overflow: auto;
  background-color: #f1f1f1;
  padding: 10px 10px;
  height: 150px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.header-adv a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-adv a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-adv a:hover {
  background-color: #ddd;
  color: black;
}

.header-adv a.active {
  background-color: dodgerblue;
  color: white;
}

.header-adv-right {
  float: right;
}

.wrapper-logon {
  margin-top: 20px;
  width: 360px;
  padding: 20px;
}

@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

/*
 All of this is for the headers with the following buttons:
  Home
  Contact
  About
*/
.header {
/*  position: fixed;*/
  overflow: auto;
  background-color: #f1f1f1;
  padding: 10px 20px;
  height: 150px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}




.top {
  height: 92px;
}

.left {
  width: 178px;
  float: left;
}

.main {
  margin-left: 178px;
}

a.two:link {
  color: #ff0000;
  font-size: 75%;
}

a.two:visited {
  color: #0000ff;
  font-size: 75%;
}

a.two:hover {
  font-size: 150%;
}

/*
 End of Header
*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  background: #8fbff3;
  padding: 10px;
}

nav ul {
  list-style-type: disc;
  padding: 10px;
}

article {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: #f1f1f1;
  padding: 10px;
}


/* For <option> rounded coners */
.selectWrapper {
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
}

.selectBox {
  width: 140px;
  height: 40px;
  border: 0px;
  outline: none;
}


.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  align-items: flex-start;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 700px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  align-items: flex-start;
}



h6 {
  display: none;
  font-size: .67em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}


table {
  border-collapse: collapse;
  color: black;
  font-family: monspace;
  font-size: 15px;
  text-align: Left;
  padding: 5px;
}

th {
  background-color: #d96459;
  color: white;
}

td {
  padding: 5px;
}

td.empty { 
  border-top:none;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

/* use this to align indivdual columns in a table for example
     <table class="tr2 tc3 tr7"> would make column 2 and 7
     right aligned while column 3 would be center aligned.
     Tables below are only setup for 9 columns but more 
     could be added.
  */
.tl1 td:nth-child(1), .tl1 th:nth-child(1),
.tl2 td:nth-child(2), .tl2 th:nth-child(2),
.tl3 td:nth-child(3), .tl3 th:nth-child(3),
.tl4 td:nth-child(4), .tl4 th:nth-child(4),
.tl5 td:nth-child(5), .tl5 th:nth-child(5),
.tl6 td:nth-child(6), .tl6 th:nth-child(6),
.tl7 td:nth-child(7), .tl7 th:nth-child(7),
.tl8 td:nth-child(8), .tl8 th:nth-child(8),
.tl9 td:nth-child(9), .tl9 th:nth-child(9) {
  text-align: left
}

.tc1 td:nth-child(1), .tc1 th:nth-child(1),
.tc2 td:nth-child(2), .tc2 th:nth-child(2),
.tc3 td:nth-child(3), .tc3 th:nth-child(3),
.tc4 td:nth-child(4), .tc4 th:nth-child(4),
.tc5 td:nth-child(5), .tc5 th:nth-child(5),
.tc6 td:nth-child(6), .tc6 th:nth-child(6),
.tc7 td:nth-child(7), .tc7 th:nth-child(7),
.tc8 td:nth-child(8), .tc8 th:nth-child(8),
.tc9 td:nth-child(9), .tc9 th:nth-child(9),
.tc10 td:nth-child(10), .tc10 th:nth-child(10),
.tc11 td:nth-child(11), .tc11 th:nth-child(11),
.tc12 td:nth-child(12), .tc12 th:nth-child(12),
.tc13 td:nth-child(13), .tc13 th:nth-child(13),
.tc14 td:nth-child(14), .tc14 th:nth-child(14),
.tc15 td:nth-child(15), .tc15 th:nth-child(15) {
  text-align: center
}

.tr1 td:nth-child(1), .tr1 th:nth-child(1),
.tr2 td:nth-child(2), .tr2 th:nth-child(2),
.tr3 td:nth-child(3), .tr3 th:nth-child(3),
.tr4 td:nth-child(4), .tr4 th:nth-child(4),
.tr5 td:nth-child(5), .tr5 th:nth-child(5),
.tr6 td:nth-child(6), .tr6 th:nth-child(6),
.tr7 td:nth-child(7), .tr7 th:nth-child(7),
.tr8 td:nth-child(8), .tr8 th:nth-child(8),
.tr9 td:nth-child(9), .tr9 th:nth-child(9) {
  text-align: right
}


normal {
  font-weight: normal;
}

/* Rounded button class */
.rounded {
  border-radius: 8px;
  width: 135px;
  display: inline-block;
  padding: 15px 15px;
  line-height: 140%;
}

input.rounded {

  border: 1px solid #ccc;
  display: inline-block;
  line-height: 140%;

  /* Safari 5, Chrome support border-radius without vendor prefix.
   * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
   * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
   */
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  /* Chrome, FF 4.0 support box-shadow without vendor prefix.
   * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
   * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
   * change the offsets, blur and color to suit your design.
   */
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;

  /* using a bigger font for demo purposes so the box isn't too small */
  /* font-size: 18px; */

  /* with a big radius/font there needs to be padding left and right
   * otherwise the text is too close to the radius.
   * on a smaller radius/font it may not be necessary
   */
  padding: 4px 7px;

  /* only needed for webkit browsers which show a rectangular outline;
   * others do not do outline when radius used.
   * android browser still displays a big outline
   */
  outline: 0;

  /* this is needed for iOS devices otherwise a shadow/line appears at the
   * top of the input. depending on the ratio of radius to height it will
   * go all the way across the full width of the input and look really messy.
   * ensure the radius is no more than half the full height of the input, 
   * and the following is set, and everything will render well in iOS.
   */
  -webkit-appearance: none;

}



input.rounded:focus {

  /* supported IE8+ and all other browsers tested.
   * optional, but gives the input focues when selected.
   * change to a color that suits your design.
   */
  border-color: #339933;

}

/* Popup box BEGIN */
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hover_bkgr_fricc>div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.popupCloseButton:hover {
  background-color: #ccc;
}

.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

/* Popup box BEGIN */



.RoundButton {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background: -moz-linear-gradient(center top, #ededed 5%, #bab1ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba');
  background-color: #ededed;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
  text-indent: 0;
  border: 1px solid #d6bcd6;
  display: inline-block;
  color: #3a8a9e;
  font-family: arial;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  height: 30px;
  line-height: 30px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #e1e2ed;
}

.RoundButton:disabled {
  opacity: 0%;
  filter: opacity(0%);
  display: none;
  background: #dddddd;
}

.RoundButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #bab1ba 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed');
  background-color: #bab1ba;
}

.RoundButton:active {
  position: relative;
  top: 1px;
}


ul.twocolumns {
  display: inline-block;
}

ul.twocolumns li {
  float: left;
  list-style: outside none none;
  width: 60%;
  padding-top: 10px;
}

ul.threecolumns {
  column-count: 3;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.threecolumns li {
  float: left;
  list-style: outside none none;
  width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.WarningMessageContainer {
  background-color: #fdf4d3;
  color: #7C6235;
  border-color: #fae2ea;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  padding: 9px;
  margin: 2px;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

@media (max-width: 500px) {
  section {
    -webkit-flex-disrection: column;
    flex-direction: column;
  }
}

#_______________ From view.css _________________________________ body {
  background: #336699;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: small;
  margin: 4px 0 16px;
  text-align: center;
}

#form_container {
  background: #f1f1f1;

  margin: 0 auto;
  text-align: left;
  width: 100%;
}

#top {
  display: block;
  height: 10px;
  margin: 10px auto 0;
  width: 650px;
}

#footer {
  width: 640px;
  clear: both;
  color: #999999;
  text-align: center;
  width: 640px;
  padding-bottom: 15px;
  font-size: 85%;
}

#footer a {
  color: #999999;
  text-decoration: none;
  border-bottom: 1px dotted #999999;
}

#bottom {
  display: block;
  height: 10px;
  margin: 0 auto;
  width: 650px;
}

form.appnitro {
  margin: 20px 20px 0;
  padding: 0 0 20px;
}

/**** Logo Section  *****/
h1 {
  background-color: #6699CC;
  margin: 0;
  min-height: 0;
  padding: 0;
  text-decoration: none;
  text-indent: -8000px;

}

h1 a {

  display: block;
  height: 100%;
  min-height: 10px;
  overflow: hidden;
}


img {
  behavior: url(css/iepngfix.htc);
  border: none;
}


/**** Form Section ****/
.appnitro {
  font-family: Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
  font-size: small;
  background-color: #8fbff3;
}

.appnitro li {
  width: 100%;
}

form ul {
  font-size: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

form li {
  display: block;
  margin: 0;
  padding: 4px 5px 2px 9px;
  position: relative;
}

form li:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.buttons:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.buttons {
  clear: both;
  display: block;
  margin-top: 10px;
}

* html form li {
  height: 1%;
}

* html .buttons {
  height: 1%;
}

* html form li div {
  display: inline-block;
}

form li div {
  color: #444;
  margin: 0 4px 0 0;
  padding: 0 0 8px;
}

form li span {
  color: #444;
  float: left;
  margin: 0 4px 0 0;
  padding: 0 0 8px;
}

form li div.left {
  display: inline;
  float: left;
  width: 48%;
}

form li div.right {
  display: inline;
  float: right;
  width: 48%;
}

form li div.left .medium {
  width: 100%;
}

form li div.right .medium {
  width: 100%;
}

.clear {
  clear: both;
}

form li div label {
  clear: both;
  color: #444;
  display: block;
  font-size: 9px;
  line-height: 9px;
  margin: 0;
  padding-top: 3px;
}

form li span label {
  clear: both;
  color: #444;
  display: block;
  font-size: 9px;
  line-height: 9px;
  margin: 0;
  padding-top: 3px;
}

form li .datepicker {
  cursor: pointer !important;
  float: left;
  height: 16px;
  margin: .1em 5px 0 0;
  padding: 0;
  width: 16px;
}

.form_description {
  border-bottom: 1px dotted #ccc;
  clear: both;
  display: inline-block;
  margin: 0 0 1em;
}

.form_description[class] {
  display: block;
}

.form_description h2 {
  clear: left;
  font-size: 160%;
  font-weight: 400;
  margin: 0 0 3px;
}

.form_description p {
  font-size: 95%;
  line-height: 130%;
  margin: 0 0 12px;
}

form hr {
  display: none;
}

form li.section_break {
  border-top: 1px dotted #ccc;
  margin-top: 9px;
  padding-bottom: 0;
  padding-left: 9px;
  padding-top: 13px;
  width: 97% !important;
}

form ul li.first {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

form .section_break h3 {
  font-size: 110%;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 2px;
}

form .section_break p {
  font-size: 85%;

  margin: 0 0 10px;
}

/**** Buttons ****/
input.button_text {
  overflow: visible;
  padding: 0 7px;
  width: auto;
}

.buttons input {
  font-size: 120%;
  margin-right: 5px;
}

/**** Inputs and Labels ****/
label.description {
  border: none;
  color: #222;
  display: block;
  font-size: 95%;
  font-weight: 700;
  line-height: 150%;
  padding: 0 0 1px;
}

span.symbol {
  font-size: 115%;
  line-height: 130%;
}

input.text {
  background: #fff url(../../../images/shadow.gif) repeat-x top;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-top: 1px solid #7c7c7c;
  color: #333;
  font-size: 100%;
  margin: 0;
  padding: 2px 0;
}

input.file {
  color: #333;
  font-size: 100%;
  margin: 0;
  padding: 2px 0;
}

textarea.textarea {
  background: #fff url(../../../images/shadow.gif) repeat-x top;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-top: 1px solid #7c7c7c;
  color: #333;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  margin: 0;
  width: 99%;
}

select.select {
  color: #333;
  font-size: 100%;
  margin: 1px 0;
  padding: 1px 0 0;
  background: #fff url(../../../images/shadow.gif) repeat-x top;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-top: 1px solid #7c7c7c;
}


input.currency {
  text-align: right;
}

input.checkbox {
  display: block;
  height: 13px;
  line-height: 1.4em;
  margin: 6px 0 0 3px;
  width: 13px;
}

input.radio {
  display: block;
  height: 13px;
  line-height: 1.4em;
  margin: 6px 0 0 3px;
  width: 13px;
}

label.choice {
  color: #444;
  display: block;
  font-size: 100%;
  line-height: 1.4em;
  margin: -1.55em 0 0 25px;
  padding: 4px 0 5px;
  width: 90%;
}

select.select[class] {
  margin: 0;
  padding: 1px 0;
}

*:first-child+html select.select[class] {
  margin: 1px 0;
}

.safari select.select {
  font-size: 120% !important;
  margin-bottom: 1px;
}

input.small {
  width: 25%;
}

select.small {
  width: 25%;
}

input.medium {
  width: 50%;
}

select.medium {
  width: 50%;
}

input.large {
  width: 99%;
}

select.large {
  width: 100%;
}

textarea.small {
  height: 5.5em;
}

textarea.medium {
  height: 10em;
}

textarea.large {
  height: 20em;
}

/**** Errors ****/
#error_message {
  background: #fff;
  border: 1px dotted red;
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  text-align: center;
  width: 99%;
}

#error_message_title {
  color: #DF0000;
  font-size: 125%;
  margin: 7px 0 5px;
  padding: 0;
}

#error_message_desc {
  color: #000;
  font-size: 100%;
  margin: 0 0 .8em;
}

#error_message_desc strong {
  background-color: #FFDFDF;
  color: red;
  padding: 2px 3px;
}

form li.error {
  background-color: #FFDFDF !important;
  border-bottom: 1px solid #EACBCC;
  border-right: 1px solid #EACBCC;
  margin: 3px 0;
}

form li.error label {
  color: #DF0000 !important;
}

form p.error {
  clear: both;
  color: red;
  font-size: 10px;
  font-weight: 700;
  margin: 0 0 5px;
}

form .required {
  color: red;
  float: none;
  font-weight: 700;
}

/**** Guidelines and Error Highlight ****/
form li.highlighted {
  background-color: #fff7c0;
}

form .guidelines {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #444;
  font-size: 80%;
  left: 100%;
  line-height: 130%;
  margin: 0 0 0 8px;
  padding: 8px 10px 9px;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 42%;
  z-index: 1000;
}

form .guidelines small {
  font-size: 105%;
}

form li.highlighted .guidelines {
  visibility: visible;
}

form li:hover .guidelines {
  visibility: visible;
}

.no_guidelines .guidelines {
  display: none !important;
}

.no_guidelines form li {
  width: 97%;
}

.no_guidelines li.section {
  padding-left: 9px;
}

/*** Success Message ****/
.form_success {
  clear: both;
  margin: 0;
  padding: 90px 0pt 100px;
  text-align: center
}

.form_success h2 {
  clear: left;
  font-size: 160%;
  font-weight: normal;
  margin: 0pt 0pt 3px;
}

/*** Password ****/
ul.password {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.password h2 {
  color: #DF0000;
  font-weight: bold;
  margin: 0pt auto 10px;
}

.password input.text {
  font-size: 170% !important;
  width: 380px;
  text-align: center;
}

.password label {
  display: block;
  font-size: 120% !important;
  padding-top: 10px;
  font-weight: bold;
}

#li_captcha {
  padding-left: 5px;
}


#li_captcha span {
  float: none;
}

/** Embedded Form **/

.embed #form_container {
  border: none;
}

.embed #top, .embed #bottom, .embed h1 {
  display: none;
}

.embed #form_container {
  width: 100%;
}

.embed #footer {
  text-align: left;
  padding-left: 10px;
  width: 99%;
}

.embed #footer.success {
  text-align: center;
}

.embed form.appnitro {
  margin: 0px 0px 0;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}